/* Variáveis */
:root{
 --black: #000;
 --dark-gray: #333;
 --gray: #555;
 --light-gray: #888;
 --lightest-gray: #ddd;
 --white-gray: #eee;
 --dark-green: #1d4d2f;

}

/* Configurações globais */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body */
body, html{/*inserir googlefonts aqui*/
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--black);
    color: var(--white-gray);
}

/* img */
.track-img {
    width: 300px;
    height: 300px;
}

/*Classes*/
.main{
    width: 350px;
    height: 90vh;
    background-color: var(--dark-gray);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
.navbar{
    background-color: var(--dark-green);
    width: 348px;
    height: 60px;
    font-size: 30px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    position: fixed;
    top: 5vh;  
    border-radius: 10px;
}
.logo{
    font-size: 30px;
    margin-left: 25px;
}
.button-trackList{
    margin-right: 25px;
    cursor: pointer;
}
.button-return{
    margin-right: 25px;
    cursor: pointer;
}
.description{
    width: 300px;
}
.description h2{
    margin-top: 10px;
}
.duration{
    width: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.bar{
    width: 300px;
    height: 10px;
    border: 1px solid var(--white-gray);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-start; /* empurra pra esquerda */
}
progress{
    height: 10px;
    width: 0%;
}
.point{
    width: 20px;
    height: 20px;
    background-color: var(--white-gray);
    border-radius: 50%;
    margin-left: -10px;
}
.time{
    margin-top: 5px;
    display: flex;
    width: 300px;
    justify-content: space-between;
}
.player{
    width: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.button-play, .button-pause{
    font-size: 35px;
    cursor: pointer;
}
.button-arrows{
    font-size: 30px;
    cursor: pointer;
}
.invisible {
    display: none !important;
}


/* Lista de músicas */
.modal{
    position: fixed;
    bottom: 5vh;
    width: 350px;
    height: calc(90vh - 60px);
    background-color: var(--gray);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    
}
.modal ul li{
    background-color: var(--light-gray);
    width: 350px;
    height: 10vh;
    margin: 7px 0 7px 0;
    
    display: flex;
    align-items: center;    
    border-radius: 1px;
}
.modal ul li:hover{
    background-color: var(--dark-green);
    cursor: pointer;
}
.list-img{
    width: 55px;
    height: 55px;
}
